<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_test1_SnapShot_1745333847183"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="172.16.32.72"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="130"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value="Init"/>
    <stringAttribute key="modelBehaviorNext" value="Next"/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="clientRequests, acceptedTransactions, localTransactionHistory, transactionOperation, msgs, localNodesGraph, rmState, pendingTransactions, test, rejectedTransactions"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="0DummyInvariant"/>
        <listEntry value="0LivenessDummy"/>
        <listEntry value="1DummyInvariant2"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0LivenessDummy"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="NODES;;{1,2,3};0;0"/>
        <listEntry value="transactions;;&lt;&lt;&lt;&lt;[type |-&gt; &quot;nodes&quot; , Operation |-&gt; &quot;add&quot;, sourceVertex|-&gt; 0], [type |-&gt; &quot;nodes&quot; , Operation |-&gt; &quot;add&quot;, sourceVertex|-&gt; 1], [type |-&gt; &quot;edges&quot;, Operation  |-&gt; &quot;add&quot;, sourceVertex |-&gt; 0, desVertex |-&gt; 1]&gt;&gt;, &lt;&lt;[type |-&gt; &quot;nodes&quot;, Operation |-&gt; &quot;remove&quot;, sourceVertex |-&gt; 0]&gt;&gt;, &lt;&lt;[type |-&gt; &quot;nodes&quot;, Operation |-&gt; &quot;add&quot;, sourceVertex |-&gt; 5]&gt;&gt;&gt;&gt;;0;0"/>
        <listEntry value="transactionNumbers;;&lt;&lt;1,2,3&gt;&gt;;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="5"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="graph"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
